.bg-dark {
    background-color: #0B335A!important;
}

.card {
    margin: 1rem;
    width: 15.8rem;
}

.my-icon-search {
    width: 20px;
    fill: white;
}

.search-inline {
    flex-wrap: nowrap;
}

.navbar {
    padding: 0rem 1rem;
}

.container {
    margin-top: 95px;
}

section {
    margin-top: 20px;
}

/* mode mobile */
@media (max-width: 600px) { 
    .my-title {
        display: none !important;
    }
} 


/* mode disktop et web */
@media (min-width: 601px) { 

    /* on monter tout les section */
    .tab-content>.tab-pane {
        display: block !important;
    }
    
    .fade:not(.show) {
        opacity: 1 !important;
    }

    /* on fait disparaitre le nav */
    .my-nav {
        display: none;
    }

} 